# Use cpu version of torch
--extra-index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://developer.download.nvidia.com/compute/redist
pydftracer
nvidia-dali-cuda120
torch
tensorflow
torchaudio
torchvision
